---
import BaseLayout from "../layouts/BaseLayout.astro";
import styles from "../styles/site.module.css";
---

<BaseLayout title="Cloudflare Pages Test">
  <h1 class={styles.title}>Hello, Cloudflare Pages!</h1>
  <nav class={styles.nav}>
    <a href="/posts">Posts一覧を見る</a>
  </nav>
</BaseLayout>
