---
import styles from "../styles/site.module.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cloudflare Pages Test</title>
  </head>
  <body>
    <main class={styles.container}>
      <h1 class={styles.title}>Hello, Cloudflare Pages!</h1>
      <nav class={styles.nav}>
        <a href="/posts">Posts一覧を見る</a>
      </nav>
    </main>
  </body>
</html>
